:root {
  --diametro: 207px;
  --spessore: 20px;
  --black: #000000;
  --white: #ffffff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "PT_Sans";
  src: url("../fonts/**/PT_Sans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PT_Sans";
  src: url("../fonts/**/PT_Sans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PT_Sans";
  src: url("../fonts/**/PT_Sans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "PT_Sans";
  src: url("../fonts/**/PT_Sans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
html {
  font-family: "PT_Sans";
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100dvh;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.6rem;
  line-height: 1.6;
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grafica {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.disegno {
  position: relative;
  display: flex;
}
.disegno:first-child {
  margin-left: -20%;
  animation: trasladx 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.disegno:first-child:hover {
  cursor: pointer;
}
.disegno:first-child:hover .circonferenza {
  border-color: #ffff00;
}
.disegno:first-child:hover .trapezio {
  background-color: #ffff00;
}
.disegno:first-child:hover .pulsante,
.disegno:first-child:hover .circonferenza::before,
.disegno:first-child:hover .circonferenza::after {
  display: none !important;
}
.disegno:first-child:hover .circonferenza__testo {
  display: block;
}
.disegno:last-child {
  margin-right: -20%;
  animation: traslasx 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.disegno__menu {
  position: absolute;
  top: 0%;
  right: calc(var(--diametro) + 16px);
  color: rgba(255, 255, 0, 0.5);
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: color 0.75s ease-in-out;
}
.disegno__menu:hover {
  color: rgb(255, 255, 0);
}
.disegno__menu--second {
  top: 50%;
  transform: translateY(-50%);
  right: calc(var(--diametro) + 33px);
}
.disegno__menu--third {
  top: 97%;
  transform: translateY(-50%);
}

.circonferenza {
  position: relative;
  width: var(--diametro);
  /* diametro della circonferenza */
  height: var(--diametro);
  /* diametro della circonferenza */
  border-radius: 50%;
  /* rende il rettangolo un cerchio */
  border: var(--spessore) solid #ffffff;
  /* spessore e colore della circonferenza */
  transform: rotate(0deg);
  -webkit-transition: transform 0.75s ease-in-out;
  -moz-transition: transform 0.75s ease-in-out;
  -ms-transition: transform 0.75s ease-in-out;
  -o-transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
}
.circonferenza.active {
  transform: rotate(180deg);
}
.circonferenza.active .circonferenza__testo {
  transform: translate(-50%, -50%) rotate(-180deg) !important;
}
.circonferenza__testo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff00;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.active .circonferenza__testo {
  display: block !important;
}

.trapezio {
  position: absolute;
  bottom: -20px;
  left: calc(50% - var(--spessore) / 2);
  width: calc(var(--diametro) / 2);
  /* lunghezza del rettangolo */
  height: 20px;
  /* altezza del rettangolo (uguale allo spessore della circonferenza) */
  background-color: #ffffff;
  /* colore del rettangolo */
  transform: skewX(45deg);
  /* inclina il lato destro verso l'interno */
}
.trapezio--vertical {
  bottom: 50%;
  left: calc(var(--spessore) * -1);
  width: 20px;
  /* altezza del rettangolo (uguale allo spessore della circonferenza) */
  height: calc(var(--diametro) / 2);
  /* lunghezza del rettangolo */
  transform: skewY(45deg);
}

.pulsante {
  position: absolute;
  top: calc(var(--spessore) + (var(--diametro) / 2 - var(--spessore)) / 2);
  left: calc(var(--spessore) + (var(--diametro) / 2 - var(--spessore)) / 2);
  width: calc((var(--diametro) / 2 - var(--spessore)) / 2);
  height: calc((var(--diametro) / 2 - var(--spessore)) / 2);
  border-radius: 50%;
  background-color: #fff;
  animation: pulsante 2s infinite;
}
.active .pulsante {
  display: none;
}
.pulsante::before, .pulsante::after {
  content: "";
  position: absolute;
  width: calc((var(--diametro) / 2 - var(--spessore)) / 2);
  height: calc((var(--diametro) / 2 - var(--spessore)) / 2);
  border-radius: 50%;
  background-color: #fff;
  animation: pulse 2s infinite;
}
.active .pulsante::before, .active .pulsante::after {
  display: none;
}

.frontpage-title {
  position: absolute;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  /* margin-top: 15px; */
  font-size: 45px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 22.5px;
  margin-left: 2%;
  animation: traslasu 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes pulsante {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
@keyframes trasladx {
  0% {
    margin-left: calc(-1 * var(--diametro));
  }
  100% {
    margin-left: calc(100% - var(--diametro));
  }
}
@keyframes traslasx {
  0% {
    margin-left: calc(100% + var(--diametro));
  }
  100% {
    margin-left: 0;
  }
}
@keyframes traslasu {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 24%;
  }
}
.yellow-border {
  border-color: #ffff00 !important;
}

.yellow-bg {
  background-color: #ffff00 !important;
}

.dn {
  display: none;
}/*# sourceMappingURL=styles.css.map */